@media only screen and (max-width: 360px) {
  /* line 25, ../scss/rems.scss */
  h1 {
    font-size: 30px;
    font-size: 1.875rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 25, ../scss/rems.scss */
  h1 {
    font-size: 38px;
    font-size: 2.375rem; } }
@media only screen and (min-width: 768px) {
  /* line 25, ../scss/rems.scss */
  h1 {
    font-size: 42px;
    font-size: 2.625rem; } }

@media only screen and (max-width: 360px) {
  /* line 26, ../scss/rems.scss */
  h2 {
    font-size: 26px;
    font-size: 1.625rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 26, ../scss/rems.scss */
  h2 {
    font-size: 32px;
    font-size: 2rem; } }
@media only screen and (min-width: 768px) {
  /* line 26, ../scss/rems.scss */
  h2 {
    font-size: 36px;
    font-size: 2.25rem; } }

@media only screen and (max-width: 360px) {
  /* line 27, ../scss/rems.scss */
  h3 {
    font-size: 20px;
    font-size: 1.25rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 27, ../scss/rems.scss */
  h3 {
    font-size: 26px;
    font-size: 1.625rem; } }
@media only screen and (min-width: 768px) {
  /* line 27, ../scss/rems.scss */
  h3 {
    font-size: 30px;
    font-size: 1.875rem; } }

@media only screen and (max-width: 360px) {
  /* line 28, ../scss/rems.scss */
  h4 {
    font-size: 18px;
    font-size: 1.125rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 28, ../scss/rems.scss */
  h4 {
    font-size: 22px;
    font-size: 1.375rem; } }
@media only screen and (min-width: 768px) {
  /* line 28, ../scss/rems.scss */
  h4 {
    font-size: 28px;
    font-size: 1.75rem; } }

@media only screen and (max-width: 360px) {
  /* line 29, ../scss/rems.scss */
  h5 {
    font-size: 116px;
    font-size: 7.25rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 29, ../scss/rems.scss */
  h5 {
    font-size: 18px;
    font-size: 1.125rem; } }
@media only screen and (min-width: 768px) {
  /* line 29, ../scss/rems.scss */
  h5 {
    font-size: 22px;
    font-size: 1.375rem; } }

@media only screen and (max-width: 360px) {
  /* line 30, ../scss/rems.scss */
  h6 {
    font-size: 12px;
    font-size: 0.75rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 30, ../scss/rems.scss */
  h6 {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 768px) {
  /* line 30, ../scss/rems.scss */
  h6 {
    font-size: 16px;
    font-size: 1rem; } }

@media only screen and (max-width: 360px) {
  /* line 31, ../scss/rems.scss */
  p {
    font-size: 12px;
    font-size: 0.75rem; } }
@media only screen and (min-width: 361px) and (max-width: 767px) {
  /* line 31, ../scss/rems.scss */
  p {
    font-size: 14px;
    font-size: 0.875rem; } }
@media only screen and (min-width: 768px) {
  /* line 31, ../scss/rems.scss */
  p {
    font-size: 18px;
    font-size: 1.125rem; } }
